// --- Raw palette ---
$slate-dm-1: #111113;
$slate-dm-2: #18191B;
$slate-dm-3: #212225;
$slate-dm-4: #272A2D;
$slate-dm-5: #2E3135;
$slate-dm-6: #363A3F;
$slate-dm-7: #43484E;
$slate-dm-8: #5A6169;
$slate-dm-9: #696E77;
$slate-dm-10: #777B84;
$slate-dm-11: #B0B4BA;
$slate-dm-12: #EDEEF0;
$slate-lm-1: #FCFCFD;
$slate-lm-2: #F9F9FB;
$slate-lm-3: #F0F0F3;
$slate-lm-4: #E8E8EC;
$slate-lm-5: #E0E1E6;
$slate-lm-6: #D9D9E0;
$slate-lm-7: #CDCED6;
$slate-lm-8: #B9BBC6;
$slate-lm-9: #8B8D98;
$slate-lm-10: #80838D;
$slate-lm-11: #60646C;
$slate-lm-12: #1C2024;

