@use 'variables' as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-bg-raised);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    background-color: var(--color-bg);
}